.search-container{
  padding-top: 128px;
  z-index: 2;
}

.searchbar{
  max-width: 540px; 
  left: 50%;
}

.nav-bar {
  opacity: 0.9;
}

.no-results {
  justify-content: center;
}

.tags {
  justify-content: center;
}

.nav-title{
  font-size: large;
}

.project-card {
  width: 90%;
}

.project-tag {
  padding-top: 1px; 
  padding-bottom: 1px;
  margin-top: 8px;
}

.project-div:nth-child(odd) {
  background:rgba(240,240,240,0.5)
}

@media (min-width: 768px) {
  .project-card {
    width: 50%;
  }

  .search-container{
    padding-top: 90px
  }
}