#popUpInicioDoJogo {
  /* display */
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  justify-content: space-evenly;
  /* background */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.freeimages.com/images/large-previews/48d/woodgrain-texture-1151631.jpg");
  fill-opacity: 50%;
  background-size: cover;
  background-repeat: repeat;
  /* position */
  position: fixed;
  z-index: 10;
  top: 25%;
  left: 20%;
  /* dimensions */
  width: 60%;
  height: 60%;
  padding: 10px;
  /* text */
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

#fundoOfuscado {
  /* position */
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  /* background */
  background-color: rgba(0, 0, 0, 0.67);
  backdrop-filter: blur(5px);
  /* dimensions */
  width: 100%;
  height: 100%;
}

h1 {
  /* text */
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: xx-large;
  color: white;
  /* dimensions */
  margin: 10px;
  padding: 5px;
  /* display */
  display: flex;
  justify-content:center;
  /* position */
  z-index: 5;
}

body {
  /* text */
  font-family: "Proxima Nova", Georgia, sans-serif;
  /* background */
  background-color: black;
  /* dimensions */
  margin: 1%;
  /* display */
  justify-content: center;
}

h2 {
  /* text */
  color: rgb(5, 51, 2);
  text-align: center;
  font-size: large;
  font-weight: bold;
  /* display */
  display: block;
  justify-content: center;
  align-self: center;
  /* dimensions */
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}

#scoreEBotaoShow {
  /* display */
  display: flex;
  justify-content: space-evenly;
}

#score {
  /* text */
  text-align: start;
  font-weight: bold;
  /* dimensions */
  margin-top: 9px;
  margin-bottom: 15px;
  padding: 8px;
  /* display */
  display: inline-block;
  /* background */
  background: #ffdf7d;
}

.botoes {
  /* text */
  color: black;
  /* background */
  background-color: white;
  /* border */
  border-color: lightgray;
  border-width: thick;
  /* display */
  cursor: pointer;
  /* dimensions */
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0%;
  padding-bottom: 0px;
  margin: 2px;
  margin-top: 17px;
  margin-bottom: 10px;
  /* text */
  font-size: medium;
  font-weight: bold;
  font-family: "Proxima Nova", Georgia, sans-serif;
  /* position */
  z-index: 3;
}

.botoes:hover {
  /* background */
  background-color: gainsboro;
}

#botaoShow {
  /* dimensions */
  margin-top: 10px;
  margin-bottom: 20px;
}

#pinturaEResolucao {
  /* display */
  display: flex;
  transition: 2s;
}

.opcoesDeResposta {
  /* dimensions */
  width: 40%;
  margin-right: 15px;
}

#opcoesResposta {
  /* display */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 2;
  transition: 2s;
  /* position */
  z-index: 50;
}

#pinturaConteiner {
  /* position */
  position: relative;
  /* display */
  transition: 2s;
  display: flex;
  justify-content: center;
  /* dimensions */
  margin-bottom: 10px;
}

#pinturaImagem {
  /* position */
  z-index: 2;
  /* display */
  transition: 2s;
}

.circles {
  /* display */
  transition-duration: 5s;
  /* position */
  z-index: 3;
  position: absolute;
  /* dimensions */
  height: 40px;
  width: 40px;
  /* border */
  border-radius: 50%;
  /* background */
  background-color: black;
}

.hidden {
  /* background */
  visibility: hidden;
  opacity: 0;
  /* display */
  transition: visibility 0s 2s, opacity 2s linear;
}

#resolucao {
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 2s;
  /* position */
  z-index: 5;
  /* dimensions */
  padding: 10px;
  width: 30%;
  /* background */
  background-color: #eee;
  /* text */
  word-break: break-word;
  text-align: justify;
}

#tituloRespostaCorreta {
  /* dimensions */
  margin-top: 3px;
  /* text */
  color: green;
}

#conteinerRespostaErrada {
  /* dimensions */
  margin-top: 3px;
  /* display */
  display: flex;
  justify-content: center;
  gap: 3px;
}

#tituloRespostaErrada {
  /* text */
  color: red;
}

#botaoProximaRodada {
  /* dimensions */
  margin-top: 25px;
}

#popUpFimDoJogo {
  /* display */
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  justify-content: space-evenly;
  /* background */
  background-color: lightgray;
  /* position */
  position: absolute;
  z-index: 10;  
  top: 25%;
  left: 25%;
  /* dimensions */
  width: 50%;
  height: 50%;
  padding: 10px;
  /* text */
  font-size: large;
  text-align: center;
}

#scoreFinal {
  /* text */
  font-size: x-large;
}