body {
  background-color: rgba(40, 120, 191, 0.238);
  background-size: cover;
}

.navbar-brand {
  font-size: 1rem;
}

.main {
  padding: 0rem;
}

section {
  scroll-margin-top: 62px;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 1rem;
}

.bio-image {
  margin-left: 2rem;
}

.bio-text {
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 300;
}

.contact-section {
  margin: 1rem;
}

.contact-info {
  font-size: 1.1rem;
}

.types-section {
  margin: 3rem 1rem;
}

.card-type-of-project {
  width: 240px;
  margin: 1rem auto;
  cursor: pointer;
}

.web-dev-photo {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.skills-section {
  margin: 1rem;
}

.skill-logo {
  cursor: pointer;
}

.projects-section {
  margin: 3rem 1rem;
}

.search-container {
  margin: 3rem 3rem 1.5rem;
}

.filter-by-type {
  margin: 0.25rem 0.25rem 0.25rem 0rem;
}

.project-container {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.project-photo-container {
  width: 100%;
}

.project-photo {
  border-radius: 1rem;
}

.project-data {
  width: 90%;
  margin: 1rem auto;
}

.project-description {
  margin: 1.5rem 0rem 0.5rem;
}

.project-chips {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.5rem 0rem;
}

.project-links-buttons {
  flex-wrap: wrap;
  margin-left: 0rem;
  margin-right: 0rem;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .main {
    padding: 2rem 3rem 3rem;
  }

  .about-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0rem 3rem;
  }

  .bio-text {
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 300;
  }

  .contact-section {
    margin: 3rem;
  }

  .contact-info {
    font-size: 1.25rem;
  }

  .types-section {
    margin: 3rem;
  }

  .card-type-of-project {
    width: 240px;
    margin: 1rem;
    cursor: pointer;
  }

  .skills-section {
    margin: 3rem;
  }

  .projects-section {
    margin: 3rem;
  }

  .project-container {
    margin: 2rem;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
  }

  .project-photo {
    border-radius: 2rem;
  }

  .project-data {
    width: 80%;
    margin: 1rem 1.5rem;
  }

  .project-description {
    margin: 1.5rem 1rem 0.5rem;
  }

  .project-links-buttons {
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .project-chips {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
}
